textarea {
  width: 100%;
}

.chat-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 290px !important;
}

.user-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 395px !important;
}

@media (min-width: 768px) {
  .chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 335px !important;
  }

  .user-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 430px !important;
  }
}
